.header {
    background-color: #131921;
    display: flex;
    align-items: center;
}

.header___logo{
    /* keeps logo the same size  */
    object-fit: contain;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
}

.header__searchIcon {
    padding: 5px;
    background-color: #cd9042;
    height: 22px; 
}

.header__search {
    /* search bar set to take as much space as possible when screen size changes */
    display: flex;
    flex: 1; 
    
}

.header__searchInput{
    height: 12px;
    padding:10px;
    border:none;
    width:100%;
}