
.carousel__main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -350px;

}

ul.thumbs.animated{
    display: none;
}

button.control-arrow.control-next{
    display: none;
}

button.control-arrow.control-prev{
    display: none;
}

p.carousel-status{
    display: none;
}

ul.control-dots{
    display: none;
}

.carousel__product{
    width: 200px;
}